{% extends 'base.html' %}
{% load static %}
{% load markdownx %}

{% block title %}The Nightmares we share - read{% endblock %}

{% block nightmares_active %}active{% endblock %}

{% block body %}
    <div class="card mt-3 p-3" xmlns="http://www.w3.org/1999/html">
        <div class="card-body">
            <h4 class="card-title">Nouveau cauchemar</h4>
            <hr/>
            <form class="text-center p-5" action="{% url 'core_register' %}" method="post">
                {% csrf_token %}
                {{ form.as_md_div }}
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}