{% extends 'base.html' %}
{% load static %}
{% load markdownx %}

{% block title %}The Nightmares we share - read{% endblock %}

{% block nightmares_active %}active{% endblock %}

{% block body %}
    <div id="app">
        <div class="col-8 offset-2">
            {% for part in nightmare.nightmareparts.all %}
                <!-- Card -->
                <div class="card mb-5 mt-5 z-depth-4">

                    {% if part.image %}
                        <!-- Card image -->
                        <img class="card-img-top" src="{{ part.image.url }}"
                             alt="Card image cap">
                    {% endif %}

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a> {{ nightmare.name }} - {{ part.priority }}</a></h4>
                        <!-- Text -->
                        <p class="card-text">{{ part.text | markdown }}</p>

                        {% if part.nightmaresurvey %}
                            <hr/>
                            <nightmare-nightmare-part-survey
                                    id="{{ part.nightmaresurvey.id }}"
                                    end_date="{{ part.nightmaresurvey.get_end_time|date:"Y-m-d\TH:i:s" }}"></nightmare-nightmare-part-survey>
                        {% endif %}

                    </div>

                </div>
                <!-- Card -->
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% comment %}<script type="text/x-template" id="timer-template">
        <div class="card-text" v-if="end">temps restant : [[ end.getMinutes() ]] mn [[ end.getSeconds() ]] s</div>
    </script>

    <script src="{% static 'nightmare/js/nightmare-survey-component.js' %}"></script>{% endcomment %}
    <script src="{% static 'nightmare/js/components/nightmare.js' %}"></script>

{% endblock %}