{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    {% block css %}{% endblock %}
</head>

<body>
<!-- Start your project here-->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#menu"
            aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'core_home' %}">The Nightmares we share</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="menu">
        <!-- Links -->
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item {% block accueil_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'core_home' %}">accueil</a>
            </li>
            <li class="nav-item {% block nightmares_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'nightmare_home' %}">Nightmares</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item {% block connexion_active %}{% endblock %}">
                    <a class="nav-link" href="{% url 'core_login' %}">Connexion</a>
                </li>
                <li class="nav-item {% block enregistrement_active %}{% endblock %}">
                    <a class="nav-link" href="{% url 'core_register' %}">Créer un compte</a>
                </li>
            {% else %}
                <li class="nav-item {% block create_active %}{% endblock %}">
                    <a class="nav-link" href="{% url 'nightmare_create' %}">Nouveau cauchemar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_logout' %}">Déconnection</a>
                </li>
            {% endif %}
        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Recherche"
                       aria-label="Recherche">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
<div class="container">
    {% block body %}{% endblock %}
</div>
<!-- /Start your project here-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

{% block js %}{% endblock %}
</body>

</html>
